* {
    margin: 0;
    padding: 0;
}
.top {
    height: 1024px;
    background-image: url(img/1Page.png);
    background-size: cover;
    padding-top: 217px;
    padding-left: 120px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    &__heading {
        width: 788px;
        height: 125px;
        color: #FFF;
        font-family: Montserrat;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    &__text {
        color: #FFF;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
    }
    &__button {
        height: 48px;
        width: 234px;
        margin-top: 12px;
        color: #FFF;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        box-sizing: border-box;
        border: none;
        border-radius: 30px;
        background: #9C0332;
    }
}
.content {
    height: 556px;
    background-color: #000915;
    display: flex;
    flex-direction: row;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.item {
    width: 379px;
    height: 300px;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    border: none;
    border-radius: 16px;
    &_1 {
        background-image: url(img/game1.jpg);
        background-repeat: no-repeat;
    }
    &_2 {
        background-image: url(img/game2.jpg);
        background-repeat: no-repeat;
    }
    &_3 {
        background-image: url(img/game3.jpg);
        background-repeat: no-repeat;
    }
    &__heading {
        margin-left: 32px;
        margin-bottom: 32px;
        color: #FFF;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
    }
}

